@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  background-color: #EFF1F2;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.flex {
  position: relative;
  background-color: #4D636F;
  display: flex;
  top: 0px;
  height: 60px;
}

.logo {
  background-color: #3A4B53;
  width: 150px;
  position: absolute;
  left: 0px;
  height: 60px;
  padding-right: 20px;
  padding-top: 20px;
}

.logo a {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
}

.logo a i {
  margin-right: 15px;
}

ul {
  margin-top: 20px;
  position: absolute;
  left: 150px;
  height: 60px;

}

li {

  display: inline-block;
  margin-right: 40px;
  font-size: 19px;
  color: white;
}

li a {
  color: white;
}

.perfil {
  margin-top: 10px;
  position: absolute;
  height: 60px;
  left: 1305px;

}

.imgperfil {
  width: 40px;
  border: 1px solid white;
  border-radius: 50px;
}

.geral {
  width: 100%;
  position: relative;
}


.meuperfil {
  position: relative;
  left: 14px;
  width: 350px;
  height: 310px;
  background-color: white;
  top: 25px;
  font-family: "Open Sans", sans-serif;
  align-items: center;
}

.tit1 {
  position: absolute;
  left: 120px;
  font-family: "Open Sans", sans-serif;
}

.img1 {
  position: absolute;
  top: 70px;
  left: 120px;
  width: 100px;
  border: #EFF1F2 solid 1px;
  border-radius: 150px;
}

.text1 {
  position: absolute;
  top: 190px;
  left: 20px;
  border-top: 2px #CCCCCC solid;
  width: 300px;
}

.sub1 i {
  color: #57707D;
  margin-right: 15px;
}

.status {
  position: relative;
  top: 0px;
  left: 365px;
  background-color: white;
  width: 720px;
  height: 165px;
}

.sub2 {
  position: absolute;
  left: 15px;
  top: 5px;
  color: #9A9A9A;
}

.sentimento {
  position: absolute;
  margin-top: 55px;
  margin-left: 15px;
  width: 695px;
  height: 40px;
  font-family: "Open Sans", sans-serif;

}

.but1 {
  position: absolute;
  background-color: #607D8B;
  color: white;
  margin-left: 15px;
  margin-top: 110px;
  width: 130px;
  height: 40px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.but1 i {
  margin-right: 10px;
}




.eventos {
  position: relative;
  left: 1120px;
  height: 340px;
  background-color: #ffff;
  width: 227px;
  top: -285px;
  margin-right: 0px;
  margin-left: 0px;
}

.sub3 {
  position: absolute;
  width: 160px;
  margin-left: 25px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.img2 {
  position: absolute;
  width: 180px;
  height: 130px;
  margin-top: 50px;
  margin-left: 15px;
}

.text2 {
  position: absolute;
  margin-top: 180px;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-left: 20px;
}

.but2 {
  width: 180px;
  height: 45px;
  border: none;
  background-color: #CCCCCC;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}

.dropbtn {
  background-color: #57707D;
  color: white;
  width: 350px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: -10px;
}

.dropdown {
  position: relative;
  left: 15px;
  top: -290px;
  width: 350px;
  background-color: #7D97A5;
  display: inline-block;
  height: 40px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #CCCCCC;
  color: black;

}






.dropbtn1 {
  background-color: #57707D;
  color: white;
  width: 350px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: -20px;
}

.dropdown1 {
  position: relative;
  left: -339px;
  top: -240px;
  width: 350px;
  background-color: #7D97A5;
  display: inline-block;
  height: 40px;
}


.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content1 a:hover {
  background-color: #f1f1f1
}

.dropdown1:hover .dropdown-content1 {
  display: block;
}

.dropdown1:hover .dropbtn1 {
  background-color: #CCCCCC;
  color: black;

}





.dropbtn2 {
  background-color: #57707D;
  color: white;
  width: 350px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: -10px;
}

.dropdown2 {
  position: relative;
  left: -693px;
  top: -190px;
  width: 350px;
  background-color: #7D97A5;
  display: inline-block;
  height: 40px;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content2 a:hover {
  background-color: #f1f1f1
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}

.dropdown2:hover .dropbtn2 {
  background-color: #CCCCCC;
  color: black;

}

.tit12 {
  margin-left: 15px;
  font-family: "Open Sans", sans-serif;
  padding-top: 25px;
}


.interesses {
  position: relative;
  left: 15px;
  top: -180px;
  width: 350px;
  height: 180px;
  background-color: #FFFFFF;
}

.bot {
  display: flex;
  flex-flow: row wrap;
  width: 350px;
  margin-left: 15px;

}

.noticias {
  padding-left: 3px;
  padding-bottom: 3px;
  margin-right: 5px;
  background-color: #3A4B53;
  width: 80px;
  height: 20px;
  font-size: 14px;
  padding-top: 3px;
  color: white;
}

.Amigos {
  padding-top: 3px;
  padding-bottom: 3px;
  width: 60px;
  padding-left: 5px;
  margin-right: 5px;
  background-color: #57707D;
  font-size: 14px;
  height: 20px;
  margin-top: 0px;
}

.Amigos1 {
  padding-top: 3px;
  padding-bottom: 3px;
  width: 60px;
  padding-left: 5px;
  margin-right: 5px;
  background-color: #7D97A5;
  font-size: 14px;
  height: 20px;
  margin-top: 0px;
}

.Amigos2 {
  padding-top: 3px;
  padding-bottom: 3px;
  width: 60px;
  padding-left: 5px;
  margin-right: 5px;
  background-color: #9EB1BB;
  font-size: 14px;
  height: 20px;
  margin-top: 0px;
}


.Amigos3 {
  padding-top: 3px;
  padding-bottom: 3px;
  width: 60px;
  padding-left: 5px;
  margin-right: 5px;
  background-color: #BECBD2;
  font-size: 14px;
  height: 20px;
  margin-top: 0px;
}

.Arte1 {
  width: 60px;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 5px;
  margin-right: 5px;
  background-color: #DFE5E8;
  font-size: 14px;
  height: 20px;
  margin-top: 0px;
}

.Arte2 {
  width: 60px;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 5px;
  margin-right: 5px;
  background-color: #F5F7F8;
  font-size: 14px;
  height: 20px;
  margin-top: 0px;
}








.publi1 {
  position: relative;
  top: -680px;
  left: 380px;
  background-color: white;
  height: 540px;
  width: 720px;
}


.perfil3 {
  width: 70px;
  border: 1px solid white;
  border-radius: 50px;
  margin: 20px;
}

.tit13 {
  position: absolute;
  left: 110px;
  font-family: "Open Sans", sans-serif;
  top: 25px;

}

.tit14 {
  position: absolute;
  left: 625px;
  top: 25px;
  width: 150px;
  color: #B4B4B4;
  font-family: "Open Sans", sans-serif;
  margin-right: 10px;
}

.tit15 {
  position: absolute;
  top: 120px;
  margin: 0 20px;
  font-family: "Open Sans", sans-serif;
  border-top: 1px solid #EEEEEE;
  padding-top: 25px;
  line-height: 1.5;
}

.imgflex {
  display: flex;
  position: absolute;
  top: 235px;
  margin: 0 20px;
}

.img6 {
  width: 330px;
  height: 230px;
  margin-right: 20px;
}

.but3 {
  position: absolute;
  background-color: #607D8B;
  color: white;
  margin-top: 110px;
  width: 110px;
  height: 40px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  top: 370px;
  left: 19px;
}

.but3 i {
  margin-right: 10px;
}

.but4 {
  position: absolute;
  background-color: #607D8B;
  color: white;
  margin-top: 110px;
  width: 130px;
  height: 40px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  top: 370px;
  left: 135px;
}

.but4 i {
  margin-right: 10px;
}

.publi2 {
  position: relative;
  top: -660px;
  left: 380px;
  background-color: white;
  height: 300px;
  width: 720px;
}

.but5 {
  position: absolute;
  background-color: #607D8B;
  color: white;
  margin-top: 110px;
  width: 110px;
  height: 40px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  top: 140px;
  left: 19px;
}

.but5 i {
  margin-right: 10px;
}

.but6 {
  position: absolute;
  background-color: #607D8B;
  color: white;
  margin-top: 110px;
  width: 110px;
  height: 40px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  top: 140px;
  left: 135px;
}

.but6 i {
  margin-right: 10px;
}

.publi3 {
  position: relative;
  top: -640px;
  left: 380px;
  background-color: white;
  height: 740px;
  width: 720px;
}

.img7 {
  position: absolute;
  left: 15px;
  top: 180px;
  height: 400px;
  width: 700px;
}

.tit16 {
  position: absolute;
  top: 580px;
  margin: 0 20px;
  font-family: "Open Sans", sans-serif;
  border-top: 1px solid #EEEEEE;
  padding-top: 25px;
  line-height: 1.5;
}

.but7 {
  position: absolute;
  background-color: #607D8B;
  color: white;
  margin-top: 110px;
  width: 110px;
  height: 40px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  top: 580px;
  left: 15px;
}

.but7 i {
  margin-right: 10px;
}

.but8 {
  position: absolute;
  background-color: #607D8B;
  color: white;
  margin-top: 110px;
  width: 110px;
  height: 40px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  top: 580px;
  left: 135px;
}

.but8 i {
  margin-right: 10px;
}

.Amizade2 {
  position: relative;
  left: 1120px;
  height: 250px;
  background-color: #ffff;
  width: 227px;
  top: -2080px;
  margin-right: 0px;
  margin-left: 0px;
}

.img8 {
  position: absolute;
  left: 65px;
  top: 50px;
  width: 100px;
  height: 100px;
}

.sub10 {
  position: absolute;
  top: 140px;
  left: 10px;
  width: 160px;
  margin-left: 25px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.butgeral {
  display: flex;
}

.but9 {
  position: absolute;
  background-color: #94CF96;
  color: white;
  margin-top: 110px;
  width: 100px;
  height: 40px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  top: 80px;
  left: 15px;
}

.but10 {
  position: absolute;
  background-color: #F88E86;
  color: white;
  margin-top: 110px;
  width: 100px;
  height: 40px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  top: 80px;
  left: 115px;
}

.publiciades {
  position: relative;
  left: 1120px;
  height: 90px;
  background-color: #ffff;
  width: 227px;
  top: -2060px;
  margin-right: 0px;
  margin-left: 0px;
  text-align: center;
}

.tit17 {
  position: absolute;
  left: 45px;
  top: 19px;
  font-family: "Open Sans", sans-serif;
}

.publiciades1 {
  position: relative;
  left: 1120px;
  height: 130px;
  background-color: #ffff;
  width: 227px;
  top: -2150px;
  margin-right: 0px;
  margin-left: 0px;
  text-align: center;
  font-size: 30px;
}

.publiciades1 i {
  position: absolute;
  top: 50px;
  left: 100px;
}


@media(max-width: 450px) {
  .flex {
    width: 450px;
  }

  .logo {
    background-color: #3A4B53;
    width: 150px;
    position: absolute;
    left: 0px;
    height: 60px;
    padding-right: 20px;
    padding-top: 20px;
  }

  .perfil {
    display: none;

  }

  .geral {
    width: 450px;
    position: relative;
  }

  .meuperfil {
    position: relative;
    left: 14px;
    width: 420px;
    height: 310px;
    background-color: white;
    top: 25px;
    font-family: "Open Sans", sans-serif;
    align-items: center;
  }

  .tit1 {
    position: absolute;
    left: 120px;
    font-family: "Open Sans", sans-serif;
  }

  .img1 {
    position: absolute;
    top: 70px;
    left: 120px;
    width: 100px;
    border: #EFF1F2 solid 1px;
    border-radius: 150px;
  }

  .text1 {
    position: absolute;
    top: 190px;
    left: 20px;
    border-top: 2px #CCCCCC solid;
    width: 300px;
  }

  .sub1 i {
    color: #57707D;
    margin-right: 15px;
  }

  .dropdown {
    position: relative;
    left: 15px;
    top: -450px;
    width: 420px;
    background-color: #7D97A5;
    display: inline-block;
    height: 40px;
  }

  .dropdown1 {
    position: relative;
    left: 15px;
    top: -440px;
    width: 350px;
    background-color: #7D97A5;
    display: inline-block;
    height: 40px;
  }

  .dropdown2 {
    position: relative;
    left: 15px;
    top: -430px;
    width: 350px;
    background-color: #7D97A5;
    display: inline-block;
    height: 40px;
  }

  .dropbtn{
    width: 420px;
  }


  .dropbtn2 {
    width: 420px;
  }

  .dropbtn1 {
    width: 420px;
  }

  .interesses {
    display: none;
  }


  .status {
    position: relative;
    top: 500px;
    left: 0px;
    background-color: white;
    width: 420px;
    height: 165px;
  }

  .sentimento {
    position: absolute;
    margin-top: 55px;
    margin-left: 15px;
    width: 390px;
    height: 40px;
    font-family: "Open Sans", sans-serif;
  
  }


  .publi1 {
    position: relative;
    top: -220px;
    left: 15px;
    background-color: white;
    height: 830px;
    width: 420px;
  }


  .perfil3 {
    width: 70px;
    border: 1px solid white;
    border-radius: 50px;
    margin: 20px;
  }

  .tit13 {
    position: absolute;
    left: 110px;
    font-family: "Open Sans", sans-serif;
    top: 25px;

  }

  .tit14 {
    position: absolute;
    left: 625px;
    top: 25px;
    width: 150px;
    color: #B4B4B4;
    font-family: "Open Sans", sans-serif;
    margin-right: 10px;
  }

  .tit15 {
    font-size: 15.5px;
  }

  .imgflex {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 270px;
    margin: 20px;
  }

  .img6 {
    width: 380px;
    height: 230px;
    margin-right: 20px;
    margin-bottom: 15px;
  }

  .but3 {

    top: 670px;
    left: 19px;
  }

  .but4 {

    top: 670px;
    left: 135px;
  }


  .publi2 {
    position: relative;
    top: -200px;
    left: 15px;
    background-color: white;
    height: 350px;
    width: 420px;
  }

  .but5 {
   
    top: 170px;
    left: 15px;
  }
  
  
  .but6 {
    top: 170px;
    left: 135px;
  }
  



  .publi3 {
    position: relative;
    top: -180px;
    left: 15px;
    background-color: white;
    height: 800px;
    width: 420px;
  }

  .img7 {
    position: absolute;
    left: 15px;
    top: 180px;
    height: 400px;
    width: 380px;
  }



  .but7 {
    top: 630px;
  }


  .but8 {
    top: 630px;
    left: 135px;
  }

 
  .eventos {
    left: 15px;
    height: 500px;
    width: 420px;
    top: 2440px;
  }
  
  .sub3 {
    margin-left: 120px;
  }
  
  .img2 {
   
    width: 380px;
    height: 300px;
   
  }
  
  .text2 {
    margin-top: 350px;
    width: 380px;
    margin-left: 20px;
  }
  
  .but2 {
    width: 380px;

  }

  .Amizade2 {
    height: 370px;
    width: 420px;
    top: 360px;
    left: 15px;
  
  }
  
  .img8 {
    left: 100px;
    top: 50px;
    width: 200px;
    height: 200px;
  }
  
  .sub10 {
    position: absolute;
    top: 250px;
    left: 90px;
   
  }
  
  
  .but9 {
    width: 200px;
    top: 190px;
    left: 15px;
    margin-right: 0px;
  }
  
  .but10 {
    width: 200px;
    top: 190px;
    left: 200px;
    margin-right: 15px;
  }
  .publiciades {
    height: 100px;
    width: 420px;
    top: 380px;
    left: 15px;
  }

  .tit17 {
   
    left: 140px;
    top: 25px;
    
  }
  .publiciades1 {
   
    left: 15px;
    height: 150px;
   
    width: 420px;
    top: 400px;

  }
  
  .publiciades1 i {
    position: absolute;
    top: 50px;
    left: 180px;
    font-size: 50px;
  }

.tit14{display: none;}

}